h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h2.single-product-title {
    text-align: left;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--green-dark);
    padding: 0 1rem 1rem 0;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    color: var(--gray-dark);
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

.not-found-title {
    font-size: 8rem;
}

// Bootstrap override
a {
    color: var(--secondary) !important;
    
    &:hover {
        color: var(--primary) !important;
        text-decoration: none !important;
    }
}